.main-logo {
  font-size: 36px;
  line-height: 54px;
  text-decoration: none;

  color: #000000;
}

.header-logo:focus,
.header-logo:hover {
  color: aquamarine;
}

.second-logo {
  font-size: 36px;
  line-height: 54px;
  text-decoration: none;

  color: #939393;
}

.second-logo:hover,
.second-logo:focus {
  color: aquamarine;
}
